# Latihan membuat Header Markdown

In [67]:
#### Ini adalah komentar menggunakan hastag #

In [9]:
print('Hello World')

Hello World

In [10]:
print("Hello World")

Hello World

In [12]:
print("I'm Superman")

I'm Superman

In [14]:
print('Multy berkata: "Saya lapar Bang!')

Multy berkata: "Saya lapar Bang!

# Materi Variabel

### Cara mengisi variabel dan tau tipe data

#### Tipe data String

In [54]:
a = 'Yusril'
print('Isi dari variabel a adalah:', a, '\nJenis tipe data dari a adalah:', type(a))

Isi dari variabel a adalah: Yusril
Jenis tipe data dari a adalah: <class 'str'>

#### Tipe data Integer

In [27]:
b = 15
print('Isi dari variabel b adalah:', b, '\nJenis tipe data dari b adalah:', type(b))

Isi dari variabel b adalah: 15
Jenis tipe data dari b adalah: <class 'int'>

Tipe data Float

In [33]:
c = 27.9
print('Isi dari variabel c adalah:', c, '\nJenis tipe data dari c adalah:', type(c))

Isi dari variabel c adalah: 27.9
Jenis tipe data dari c adalah: <class 'float'>

Tipe data Boolean

In [37]:
d = True
print('Isi dari variabel d adalah:', d, '\nJenis tipe data dari d adalah:', type(d))

Isi dari variabel d adalah: True
Jenis tipe data dari d adalah: <class 'bool'>

In [41]:
e = 42.9

False

In [42]:
b + c == e

True

In [43]:
b - c == e

False

# Tugas 1

## Nomor 1

1. Gunakan perintah tipe data string untuk menampilkan output/console sebagai berikut
SELAMAT ULANG TAHUN
(NAMA PANJANG PRAKTIKAN)
SEMOGA LULUS PRAKTIKUM GEOKOMPUTASI

In [50]:
print('Selamat ulang tahun')
print('Rifqi Andi Naufal')
print('Semoga Lulus Praktikum Geokomputasi')

Selamat ulang tahun
Rifqi Andi Naufal
Semoga Lulus Praktikum Geokomputasi

## Nomor 2

2. Buatlah sistem aritmatika menggunakan console in/cin dengan ketentuan sebagai berikut,
a = 1AA. A adalah dua (2) nomor NIM terakhir,
contoh 15117001 maka a = 101
15117067 maka a = 167
15117109 maka a = 109
b = 57

In [56]:
a = 164
b = 57

In [57]:
a

164

In [58]:
b

57

## Nomor 3

3. Buatlah sistem aritmatika berikut,

a. Penjumlahan (a + b)

b. Pengurangan (a - b)

c. Perkalian (a * b)

d. Pembagian (a / b)

*Note: Untuk pembagian, hasil operasinya harus berupa desimal

In [66]:
# Penjumlahan a + b
print('a. Hasil Penjumlahan a + b =', a + b, 'Type Datanya adalah:', type(a + b))

# Pengurangan a - b
print('b. Hasil Pengurangan a - b =', a - b, 'Type Datanya adalah:', type(a - b))

# Penjumlahan a * b
print('c. Hasil Perkalian a * b =', a * b, 'Type Datanya adalah:', type(a * b))

# Pengurangan a / b
print('d. Hasil Pembagian a / b =', a / b, 'Type Datanya adalah:', type(a / b))

a. Hasil Penjumlahan a + b = 221 Type Datanya adalah: <class 'int'>
b. Hasil Pengurangan a - b = 107 Type Datanya adalah: <class 'int'>
c. Hasil Perkalian a * b = 9348 Type Datanya adalah: <class 'int'>
d. Hasil Pembagian a / b = 2.8771929824561404 Type Datanya adalah: <class 'float'>